@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* === Backgrounds === */
  --bg-page: #f3f3f9;
  --bg-secondary: #ffffff;
  --bg-sidebar: #405189;
  --bg-divider: #ffffff;

  /* === Text === */
  --text-sidebar: #abb9e8;
  --text-icons: #878a99;
  --text-base: #000;
}

/* Dark Mode */
html.dark {
  /* === Backgrounds === */
  --bg-page: #1a1d21;
  --bg-secondary: #212529;
  --bg-sidebar: #212529;
  --bg-divider: #292e32;

  /* === Text === */
  --text-sidebar: #7c7f90;
  --text-icons: #878a99;
  --text-base: #fff;
}

body {
  background-color: var(--bg-page);
  line-height: 24px;
}

[dir="ltr"] body {
  font-family: "Poppins", sans-serif;
}

[dir="rtl"] body {
  font-family: "Alexandria", sans-serif;
}

.hide-scroll-bar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@media (max-width: 639px) {
  .hide-scroll-bar {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: block;
  }
}
